* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    color: #555;
}

.wrap {
    width: 95%;
    margin: 5px auto;
    background-color: #fcfcef;
    border: 1px solid #eee;
    padding: 10px;
    padding-bottom: 50px;

}

/* /// header /// */

.megi {
    position: absolute;
    left: 5px;
    width: 110px;
    /* transition: left 15s linear 1s; */
}

/* .megi:hover {
    left: 1200px;
} */

.headers {
    display: flex;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    font-family: 'Payton One', sans-serif;
}

header h1 {
    flex: 1;
    /* position: relative;
    left: 200px; */
    margin-left: 100px;
}

header h2 {
    flex: 2;
    margin-top: 30px;
}

nav li {
    display: inline;
    margin-right: 10px;
    border: 1px solid #aaa;
    background: rgba(100, 110, 121, 0.467);
}

nav a {
    text-decoration: none;
    font-variant: small-caps;
    padding: 20px;
    color: #fff;
    font-size: 16px;
    transition: all 1s;
}

nav a:hover {
    color: #567;
    font-size: 20px;
    padding: 30px;
}


/* /// main /// */

.main {
    width: 80%;
    margin: 0 auto;
}

.main h2 {
    font-family: 'Shrikhand', cursive;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

h3 {
    border: 1px solid #567;
    padding: 1px 10px;
    box-shadow: 3px 3px 5px;
}

.video {
    margin: 50px auto;
    width: 70%;
}

.video-aspect-ratio {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-aspect-ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pesma {
    margin: 0 auto;
    width: 200px;
}

/* /// #on top /// */

.jarboli-video, .text, .extra {
    position: relative;
}

.on-top {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #155;
    text-decoration: none;
    background-color: #ccc;
    padding: 0 2px;
}



/* /// extra /// */

.extra {
    width: 80%;
    margin: 50px auto;
}

.center {
    margin: 50px auto;      
    width: 70%;
}

.center a {
    width: 100%;
    margin: 0 auto;
}

/* /// ne uspevam zadovoljavajuce da centriram kvadrat!
---> sad je uspelo, parent div.center je bio centriran ali je trebalo i u okviru njega centrirati div.kvadrat, 
zato sto je uzi od roditelja, ne znam sto sam se istripovala...   /// */

.kvadrat {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    /* background: linear-gradient(to bottom, rgb(5, 5, 5), rgb(0, 0, 0)), url("db.jpg"); */
    background-color: #000;
    /* display: block;   sto mi je ovo trebalo, ne secam se sta sam mislila... ---> da bi ceo kvadrat bio link! 
    da bi na ceo moglo da se klikne. medjutim, i ovako radi, bez display: block; zato sto je div.kvadrat u okviru <a>...   */
    color: #000;
    border-radius: 0;
    transition: background-color, border-radius 3s ease-in-out 0.3s;
} 

.kvadrat:hover {
    /* background: url("db.jpg"); */
    background-color: #cfcfcf;
    border-radius: 300px;
}

.db {
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 100px;    /* /// podseti se kako ide vertikalno centriranje!? ---> vidi iznad: 
    position: absolute; top: 50%; left: 50%;  tako nekako, a roditelj position: relative;   /// */
    color: #000;
    /* margin: 0 auto;    ne radi na apsolutno pozicioniranom elementu */
    transition: color 2s ease-in-out 0.2s;   
}

.db:hover {
    color: #fff;
}

.extra em {
    font-size: 24px;
    text-transform: uppercase;
}



